{% extends "blog/base.html" %}
{% block content %}
    <h1>Divers_Tech</h1>
    <p>O criador da Divers_Tech, José Ferreira dos Santos Júnior, vem por meio desse
        blog desenvolvido em Django auxiliar outras pessoas que estão iniciando no âmbito
        da programação.
    </p>
    <h1>Redes sociais: </h1>
    <a href="https://www.instagram.com/divers_tech/">Instagram</a><br>
    <p>No instagram apresentamos conteúdos diários sobre programação e tecnologia,
        utilizamos bastante essa rede para interagir com o público de uma forma dinâmica e divertida.
    </p>
    <a href="https://t.me/joinchat/SEGp7RtbeFdveYChQKL8fA">Telegram</a><br>
    <p>Utilizamos o telegram para dúvidas, questionamentos e comunicação entre os membros da comunidade Divers_tech.</p>
    <a href="https://www.youtube.com/channel/UCo1FNToeYHEhn6k1o4blPSQ?view_as=subscriber">Youtube</a><br>
    <p>Quando algum conteúdo não foi totalmente esclarecido, utilizamos o youtube para criar vídeos
        sobre determinados assuntos.
    </p>
    <a href="https://github.com/kvojps">Github</a>
    <p>O github é utilizado para a exposição de códigos criado por José Ferreira, visando à fixação dos conhecimentos
        relacionados às linguagens e tecnologias.
    </p>
{% endblock content %}